<html>
<head>
<title>Deep Rock Galactic Database</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<h1>Deep Rock Galactic Database</h1>


[ <a href="/AllowedJobs">Allowed Jobs</a> | <a href="/AllowedRanks">Allowed Ranks</a> | <a href="/Inventories">Inventories</a> 
| <a href="/Equipment">Equipment</a> | <a href="/Miners">Miners</a> | <a href="/Missions">Missions</a> 
| <a href="/Resources">Resources</a> | <a href="/ResourceTotal">Resource Total</a> | <a href="/InventoriesHasEquipment">Inventories Has Equipment</a>]

<h2>Database Overview</h2>
<p>
    Our database is based off the game Deep Rock Galactic. It serves to store the data that is in the game. This includes the characters the player uses, the rank the player can achieve, the equipment/weapons, and the in-game currency.
</p>
</body>
</html>
