<!--
Citation for resourcetotal.html: 
Date: 12/10/23
Based on bsg.j2 from:
https://github.com/osu-cs340-ecampus/flask-starter-app 
Modified using for's, and variables
from: https://jinja.palletsprojects.com/en/3.1.x/templates/
-->
<html>
<head>
<title>Resource Total</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<h1>Resource Total</h1>

[ <a href="/AllowedJobs">Allowed Jobs</a> | <a href="/AllowedRanks">Allowed Ranks</a> | <a href="/Inventories">Inventories</a> 
| <a href="/Equipment">Equipment</a> | <a href="/Miners">Miners</a> | <a href="/Missions">Missions</a> 
| <a href="/Resources">Resources</a> | <a href="/ResourceTotal">Resource Total</a> | <a href="/InventoriesHasEquipment">Inventories Has Equipment</a>]
        <!-- display resources -->
        <table border="1">
            <thead>
                <tr>
                    <th>Resource Total ID</th>
                    <th>Resource ID</th>
                    <th>Resource Value</th>
                    <th>Mission ID</th>
                    <th>Credit Reward</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>{{ row.resourceTotalID }}</td>
                    <td>{{ row.resourceID }}</td>
                    <td>{{ row.resourceValue }}</td>
                    <td>{{ row.missionID }}</td>
                    <td>{{ row.creditReward }}</td>
                    <td>
                        <a href="/update_resource_total/{{ row.resourceTotalID }}">Edit</a>
                        <form method="POST" action="/delete_resourcetotal/{{ row.resourceTotalID }}">
                            <input type="submit" value="Delete" onclick="return confirm('Are you sure?');">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    <!-- add new resourcetotal -->
    <form method="POST" action="/ResourceTotal">
        <fieldset>
            <legend>Add New Resource</legend>
            <label>Resource ID: </label><input type="text" name="resourceID" required><br>
            <label>Mission ID: </label><input type="text" name="missionID" required><br>
            <input type="submit" value="Add ResourceTotal">
        </fieldset>
    </form>
</body>
</html>
